body{
 
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 50px;

}
.color{
    color: rgb(51, 51, 192);
}
.area{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 120%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    color:white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
}
.down-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;


}
.exp-item{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 8%%;
    border-radius:10px;

}
.area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#jun-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 11, 11), cyan);
    border-image-slice: 1;
}
footer p{
    text-align:center;
}